body {
    background-color: black;
    color: limegreen;
    font-family: monospace;
}

h1 {
    color:orange;
}
#user1 {
    color: hotpink;
}

#name {
    color: dodgerblue;
}

#time {
    color: yellow;
}